{% extends 'base.html' %}

{% block title %}Ciena:: AI/ML baseb smart assistant solution{% endblock %}

{% block content %}
<form class="login-form" name="login" method="post">
    <div class="row">
        <div class="col-md-2">
            <img height="200" align="center" src="https://steemitimages.com/0x0/https://cdn.dribbble.com/users/37530/screenshots/2937858/drib_blink_bot.gif">
        </div>
        <div class="col-md-10 login-sec" style="padding-left: 50px;">
            <h3 style="padding-left: 12px;">Ask me:</h3>
            <div class="row">&nbsp;</div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <input type="text" id="search_for" class="form-control" placeholder="Enter your ticket problem statement..." />
                    <div class="input-group-append">
                        <button type="button" id="search" value="Search" class="btn btn-outline-secondary btn-login float-right">Search</button>
                    </div>
                </div>
            </div>
            <div id='search-messages-container'></div>
        </div>
    </div>
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div class="card" id="results">
                <div class="card-header" data-toggle="collapse" href="#collapseResult">Engine Recommendations</div>
                <div class="card-body collapse hide" id="collapseResult"> </div>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row" id="result_update_row">
        <div class="col-md-12">
            <div class="card" id="result_update">
                <div class="card-header" data-toggle="collapse" href="#collapseUpdate">Improve Solution</div>
                <div class="card-body collapse show" id="collapseUpdate">
                    <div id='update-messages-container'></div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <textarea class="form-control" id="solution" placeholder="Enter ticket subject..." aria-describedby="basic-addon2"></textarea>
                        </div>
                    </div>
                    <div class="form-check">
                        {% csrf_token %}
                        <input type="button" id="update" class="btn btn-login float-right" value="Update" />
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
</form>
{% endblock %}
{% block scripts %}

<script type="text/javascript">

    function createProgressBar(container, percent) {
        var bar = new ProgressBar.SemiCircle(container, {
            strokeWidth: 6,
            color: '#FFEA82',
            trailColor: '#eee',
            trailWidth: 1,
            easing: 'easeInOut',
            duration: 700,
            svgStyle: null,
            text: {
                value: '',
                alignToBottom: false
            },
            from: {color: '#FF0000'},
            to: {color: '#00FF00'},
            // Set default step function for all animate calls
            step: (state, bar) => {
                bar.path.setAttribute('stroke', state.color);
                var value = Math.round(bar.value() * 100);
                if (value === 0) {
                    bar.setText('');
                } else {
                    bar.setText(value);
                }
                bar.text.style.color = state.color;
            }
        });
        bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
        bar.text.style.fontSize = '1.5rem';

        bar.animate(percent);  // Number from 0.0 to 1.0
    }

    $('#results').hide();
    $('#result_update_row').hide();
    $('#update').click(function () {
        if($('#search_for').val() != "" && $('#solution').val() != "") {
            $.ajax({
                method: "POST",
                url: "/update/",
                data: {query: $('#search_for').val(), solution: $('#solution').val()},
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }).success(function (data) {
                var message = "Ticket's solutions has been updated successfully.";
                var html = "<div class='alert alert-success'>" + message + "</div>";
                $('#update-messages-container').html(html).show();
                setTimeout(function () {
                    $('#update-messages-container').hide();
                }, 3000);
                $('#solution').val('');

            }).error(function (data) {
                var message = "Error occured while processing request."
                var html = "<div class='alert alert-danger'>" + message + "</div>";
                $('#update-messages-container').html(html).show();
                setTimeout(function () {
                    $('#update-messages-container').hide();
                }, 3000);
            });
        } else {
            var message = "Please enter problem recommended solution."
            var html = "<div class='alert alert-danger'>" + message + "</div>";
            $('#update-messages-container').html(html).show();
            setTimeout(function () {
                $('#update-messages-container').hide();
            }, 3000);
        }
    });

    function rate() {
        var message = "Recommended solutions has been marked as useful!!.";
        var html = "<div class='alert alert-secondary'>" + message + "</div>";
        $('#search-messages-container').html(html).show();
        setTimeout(function() {
            $('#search-messages-container').hide();
        }, 3000);
    }

    $('#search').click(function () {
        if ($('#search_for').val()) {

            $('#results').hide();
            $('#result_update_row').hide();

            var $this = $('.btn');
            var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> loading...';
            if ($(this).html() !== loadingText) {
                $this.data('original-text', $(this).html());
                $this.html(loadingText);
            }
            $.ajax({
                method: "GET",
                url: "/query2engine/",
                data: {query: $('#search_for').val()},
                crossDomain: true
            }).success(function (data) {
                $("#collapseResult").html("");
                $('#results').show();
                $('#result_update_row').show();
                $this.html($this.data('original-text'));
                var index = 1

                $.each(data["response"], function (key, val) {
                    var container = 'container';
                    var el = document.createElement('div');
                    if (index == 1) {
                        var domString = '<div class="card alert-success">\n' +
                            '                            <div class="card-header">\n' +
                            '                                <div class="col-md-4 float-left">\n' +
                            '                                    <div id="container1" class="container_progressbar"></div>\n' +
                            '                                </div>\n' +
                            '                                <div class="col-md-4 float-left">\n' +
                            '                                    <div >Confidence: ' + (val.confidence * 100).toFixed(1) + '%</div>\n' +
                            '                                </div>\n' +
                            '                                <div class="col-md-2 float-right" align="right">\n' +
                            '                                    <div>Rate: &nbsp;\n' +
                            '                                        <a href="javascript:rate();" class="rate"><span class="oi oi-thumb-up"></span></a> &nbsp;\n' +
                            '                                        <a href="javascript:rate();" class="rate"><span class="oi oi-thumb-down"></span></a>\n' +
                            '                                    </div>\n' +
                            '                                </div>\n' +
                            '                            </div>\n' +
                            '                            <div class="card-body">\n' +
                            '                                <p class="card-text">' + val.response + '</p>\n' +
                            '                            </div>\n' +
                            '                        </div>\n' +
                            '                        <div>&nbsp;</div>';
                    } else if (index == 2) {
                        var domString = '<div class="card alert-warning">\n' +
                            '                            <div class="card-header">\n' +
                            '                                <div class="col-md-4 float-left">\n' +
                            '                                    <div id="container2" class="container_progressbar"></div>\n' +
                            '                                </div>\n' +
                            '                                <div class="col-md-4 float-left">\n' +
                            '                                    <div >Confidence: ' + (val.confidence * 100).toFixed(1) + '%</div>\n' +
                            '                                </div>\n' +
                            '                                <div class="col-md-2 float-right" align="right">\n' +
                            '                                    <div>Rate: &nbsp;\n' +
                            '                                        <a href="javascript:rate();" class="rate"><span class="oi oi-thumb-up"></span></a> &nbsp;\n' +
                            '                                        <a href="javascript:rate();" class="rate"><span class="oi oi-thumb-down"></span></a>\n' +
                            '                                    </div>\n' +
                            '                                </div>\n' +
                            '                            </div>\n' +
                            '                            <div class="card-body">\n' +
                            '                                <p class="card-text">' + val.response + '</p>\n' +
                            '                            </div>\n' +
                            '                        </div>\n' +
                            '                        <div>&nbsp;</div>';
                    } else {
                        var domString = '<div class="card alert-dark">\n' +
                            '                            <div class="card-header">\n' +
                            '                                <div class="col-md-4 float-left">\n' +
                            '                                    <div id="container3" class="container_progressbar"></div>\n' +
                            '                                </div>\n' +
                            '                                <div class="col-md-4 float-left">\n' +
                            '                                    <div >Confidence: ' + (val.confidence * 100).toFixed(1) + '%</div>\n' +
                            '                                </div>\n' +
                            '                                <div class="col-md-2 float-right" align="right">\n' +
                            '                                    <div>Rate: &nbsp;\n' +
                            '                                        <a href="javascript:rate();" class="rate"><span class="oi oi-thumb-up"></span></a> &nbsp;\n' +
                            '                                        <a href="javascript:rate();" class="rate"><span class="oi oi-thumb-down"></span></a>\n' +
                            '                                    </div>\n' +
                            '                                </div>\n' +
                            '                            </div>\n' +
                            '                            <div class="card-body">\n' +
                            '                                <p class="card-text">' + val.response + '</p>\n' +
                            '                            </div>\n' +
                            '                        </div>\n' +
                            '                        <div>&nbsp;</div>';
                    }
                    index++;
                    el.innerHTML = domString;
                    $("#collapseResult").append(el.firstChild);
                    var el2 = document.createElement('div');
                    var domString2 = '<div>&nbsp;</div>';
                    el2.innerHTML = domString2;
                    $("#collapseResult").append(el2.firstChild);
                });

            }).done(function (data) {
                var index = 1
                $.each(data["response"], function (key, val) {
                    if (index ==1) {
                        createProgressBar(container1, val.confidence);
                    } else if (index == 2) {
                        createProgressBar(container2, val.confidence);
                    } else {
                        createProgressBar(container3, val.confidence);
                    }
                    index++;
                });
                $('#collapseResult').slideDown('slow');

            }).fail(function () {
                $this.html($this.data('original-text'));
                $('#search_for').val("fail");
            });
        }
    });

</script>

{% endblock %}
